use flake
export KUBECONFIG="${PWD}/terraform/kubeconfig"

# S3 / MinIO
export AWS_ENDPOINT_URL=http://localhost:9000
export AWS_ACCESS_KEY_ID=minio
export AWS_SECRET_ACCESS_KEY=minio12345
export AWS_DEFAULT_REGION=us-east-1

# Postgres
export PG_HOST=localhost
export PG_PORT=5432
export PG_DB=feast
export PG_USER=feast
export PG_PASS=feast

# Redis
export REDIS_HOST=localhost
export REDIS_PORT=6379

# Model
export ONNX_MODEL_PATH="${PWD}/python/training/model.onnx"
